@media screen and (max-width:700px){ /* Isso é uma condicional para limitar o tamnho da tela para se trabalhar com responsividade*/
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        width: 300px;
    }
    
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
}
    
